@(message: String)

@main("sbt-web plugin tests") {

	<div class="container">

		<br/>

		<!-- sbt-jst -->
		<div class="row">			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><a href="http://github.com/matthewrennie/sbt-jst">sbt-jst</a></h3>
				</div>
				<div id="peopleList" class="panel-body">
				</div>
				<div class="panel-footer">
					template example at: <a href="http://underscorejs.org/#template">http://underscorejs.org/#template</a>
				</div>
			</div>	
		</div>

		<!-- sbt-autoprefixer -->
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><a href="http://github.com/matthewrennie/sbt-autoprefixer">sbt-autoprefixer</a></h3>
				</div>
				<div class="panel-body">
					<div id="even-stops"></div>
					<br/>
					<div id="even-stops-autoprefixer"></div>
				</div>				
				<div class="panel-footer">
					gradient example at: <a href="http://css-tricks.com/examples/CSS3Gradient/">http://css-tricks.com/examples/CSS3Gradient/</a>
				</div>			
			</div>						
		</div>

		<!-- sbt-handlebars -->
		<div class="row">			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><a href="http://github.com/matthewrennie/sbt-handlebars">sbt-handlebars</a></h3>
				</div>
				<div class="panel-body">
					COMING SOON
				</div>
				<div class="panel-footer">
					template example at: <a href="http://handlebarsjs.com">http://handlebarsjs.com</a>
				</div>
			</div>	
		</div>

	</div>

	<script>
		$(document).ready(function(){
			$("#peopleList").html(window.JST["templates/people_list.html"](
				{people: ['moe', 'curly', 'larry']}
			))
		})		
	</script>

}
